* {
  margin:0;
  padding:0;
}

html, body {
  height:100%;
}

body {
  background-color:#F9F9F9;
  font:14px --apple-system, BlinkMacSystem, system-ui, sans-serif;
  *font-size:small;
  text-align:left;
}

h1, h2, h3, h4, h5, h6 {
  font-size:100%;
}

h1 {
  margin-bottom:0.5em;
}

p {
  margin:1em 0;
}

a {
  color:#CCC;
  text-decoration:none;
}

  a:hover {
    opacity:60%;
  }

  a:visited {
    color:#EEE;
  }

table {
  font-size:inherit;
  font:100%;
}

.site {
  font-size:100%;
  text-align:left;
  width:40em;
  margin:3em auto 2em auto;
  line-height:1.25em;
}

.title {
  color:#000;
  font-weight:normal;
  margin-bottom:1em;
}

  .site .title a {
    color:#000;
  }

  .site .title a:hover {
    opacity:60%;
  }

.site .meta {
  color:#EEE;
}

.site .footer {
  font-size:80%;
  color:#CCC;
  border-top:1px solid #000;
  margin-top:1.5em;
  overflow:hidden;
}

  .site .footer .contact {
    float:left;
    margin-right:3em;
  }

  .site .footer .contact a {
    color:#CCC;
  }

#post {
  
}

  #post pre {
    border:1px solid #DDD;
    background-color:#EEF;
    padding:0 0.4em;
  }

  #post ul, #post ol {
    margin-left:1.35em;
  }

  #post code {
    border:1px solid #DDD;
    background-color:#EEF;
    font-size:80%;
    padding:0 0.2 em;
  }

    #post pre code {
      border:none;
    }

  #post pre.terminal {
    border:1px solid #000;
    background-color:#333;
    color:#FFF;
  }

  #post pre.terminal code {
    background-color:#333;
  }

#related {
  margin-top:2em;
}

  #related h2 {
    margin-bottom:1em;
  }
