<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Caleb Jolliffe</title>
		<link rel="shortcut icon" href="favicon.png">

		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta name="description" content="An independent designer building ridiculously simple, time-saving workflows."/>

		<meta name="og:title" content="Caleb Jolliffe">
		<meta name="og:url" content="https://calebjolliffe.co">
		<meta name="og:description" content="An independent designer building ridiculously simple, time-saving workflows.">
		<meta property="og:image" content="metadata.jpg">	
</html>
