<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Caleb Jolliffe</title>
		<link rel="shortcut icon" href="favicon.png">
		<link rel="stylesheet" href="main.css">

		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta name="description" content="An independent designer building ridiculously simple, time-saving workflows."/>

		<meta name="og:title" content="Caleb Jolliffe">
		<meta name="og:url" content="https://calebjolliffe.co">
		<meta name="og:description" content="An independent designer building ridiculously simple, time-saving workflows.">
		<meta property="og:image" content="metadata.jpg">

		<meta name="twitter:title" content="Caleb Jolliffe">
		<meta name="twitter:description" content="An independent designer building ridiculously simple, time-saving workflows.">
		<meta name="twitter:image" content="metadata.jpg">
		<meta name="twitter:card" content="summary_large_image">
	</head>
	<body>
		<r-grid columns=3>
			<r-cell span=2+1 span-s=row>
				<r-grid columns=2>
					<r-cell span=1>
						<a href="https://calebjolliffe.co">Caleb Jolliffe</a>
					</r-cell>
					<r-cell span=1 style="text-align:right;">
						CO2: <a href="https://digitalbeacon.co/report/calebjolliffe-co">0.002g</a>
					</r-cell>

					<r-cell span=row>
						An independent designer. I build ridiculously simple, time-saving workflows that are good for the planet. Browse my <a href="https://read.cv/calebjolliffe">work</a>, grab	a <a href="https://shop.calebjolliffe.co">template</a> or two, or see what I'm up to <a href="/now">now</a>.
					</r-cell>

					<r-cell span=row>
						Writing
						<ul>
							<li><a href="/vehicle">App as Vehicle</a></li>
							<li><a href="/disrespect">Disrespect yourself, disrespect everyone</a></li>
						</ul>
					</r-cell>

					<r-cell span=row>
						Updates
						<br><button>Email Button</button><br>
						<a href="">RSS</a>&emsp;<a href="https://x.com/calebjolliffe">X</a>&emsp;<a href="https://github.com/calebjolliffe">Git</a>
					</r-cell>
				</r-grid>
			</r-cell>
		</r-grid>
	</body>
</html>
