<!DOCTYPE html>
<html lang="en">

	<head>

		<title>{{ page.title }}</title>
		<link rel="shortcut icon" href="favicon.png"/>
		<link rel="stylesheet" href="/css/root.css" type="text/css"/>

		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta name="author" content="Caleb Jolliffe"/>
		<meta name="description" content="An independent designer building ridiculously simple workflows and websites."/>

		<meta name="og:title" content="Caleb Jolliffe"/>
		<meta name="og:url" content="https://calebjolliffe.co"/>
		<meta name="og:description" content="An independent designer building ridiculously simple workflows and websites."/>
		<meta property="og:image" content="metadata.jpg"/>

		<meta name="twitter:title" content="Caleb Jolliffe"/>
		<meta name="twitter:description" content="An independent designer building ridiculously simple workflows and websites."/>
		<meta name="twitter:image" content="metadata.jpg"/>
		<meta name="twitter:card" content="summary_large_image"/>

	</head>

	<body>
	
		<r-grid columns=3 columns-s=2>
		
			<r-cell span=2+1 span-s=row>
			
				<r-grid columns=2>
				
					<r-cell span=1>
						<a href="https://calebjolliffe.co">Caleb Jolliffe</a>
					</r-cell>
					
					<r-cell span=1 style="text-align:right;">
						CO2: <a href="https://digitalbeacon.co/report/calebjolliffe-co">0.002g</a>
					</r-cell>

					<r-cell span=row>
						An independent designer. I build ridiculously simple workflows and websites.
					</r-cell>

					{{ content }}

					<r-cell span=row>
						Updates
						<p><a href="">RSS</a>&emsp;<a href="https://x.com/calebjolliffe">X</a>&emsp;<a href="https://github.com/calebjolliffe">Git</a></p>
					</r-cell>
					
				</r-grid>
				
			</r-cell>
			
		</r-grid>
		
	</body>
	
</html>
